<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload a Video</title>
  </head>
  <body>
    <form action="#" method="post" enctype="multipart/form-data">
      <h3>Upload your video</h3>
      <input
        type="text"
        placeholder="Enter your video title"
        name="name"
      /><br />
      <br />
      <textarea
        name="desp"
        placeholder="Enter your video description"
      ></textarea
      ><br />
      <br />
      <input type="file" name="video" /><br />
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
